*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body{
  background-image: url(cofee.jpg);
  background-size: cover; 
} 


.container{
  
  background-color: rgb(173, 184, 156);
  padding: 10px;
  margin-bottom: 15px;
 display: flex;
 justify-content: space-between;
 border: 3px solid;
 border-radius: 5px;
 width: 100%;
 height: 150px;
 align-items: center;
 display: flexbox;
 transition: 2s  ease-in-out;
}
.container:hover{
  background-color: rgb(224, 233, 233) ;
}

.main{
  margin-bottom: 50px;
  margin-top: 50px;
}


h1{
  background-color: rgb(157, 231, 206);
  display: inline;
  font-size: 50px;
 
}
.para{
 font-size: 30px;
 background-position: fixed;
/* background-color: rgb(167, 167, 165);*/
/*background-color: rgb(140, 147, 147);*/
background-image: url(para.jpg);
background-size: contain;
border-radius: 5%;
display: inline-block;
width: 800px;
height: 400px;
transition: O.5S ease-in-out;

margin-left: 200px;
 }
 .para:{
  transform: scaleY(45px);
 }
a{
  text-decoration: none;
}
h2{
  background-color: beige;
  display: inline;
  
}
li{
  list-style: none;
  display: inline;
 margin-inline-start: 80px;
  padding: 20px;
  font-size: 20px;
  justify-items: normal;
  transition: 1s ease-in-out;
  background-color: rgb(34, 69, 70);
  border-left: 2px rgb(255, 140, 0);
  border-right: 2px rgb(255, 162, 0);
  border-radius: 20%;
}

li:hover{
  color: rgb(232, 241, 249);
  background-color:rgb(136, 95, 42);
}
.logo{
  height: 120px;
  width: 120px;
  border-radius: 20%;
  border:none;
  justify-content: center; 
  display: flex;
  align-items: center; 
  background-color: rgb(249, 249, 250);
  font-size: larger;
 
}
.logo:hover{
  transform: skew(20deg);
}
.logo{
  background-image: url(logo.jpg);
  background-size: cover;
  filter:hue-rotate(360deg)
}
marquee{
  display: inline;
  
  font-weight: bold;
  color: rgb(1, 72, 72);
}

.coffepic{
  border: 7px solid;
  border: rgb(90, 155, 220);
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
padding: 30px;

gap: 50px;
  
}
.one {
  width: 350px;
  height: 400px;
  border: 5px solid #ebd1d1;
  border-radius: 5px;
  background-color: azure;
  background-image: url(one.jpg);
  background-size:contain;

  
}
.two{
  width: 350px;
  height: 400px;
  border-radius: 5px;
  border: 5px solid #ebd1d1;
  
  background-color: azure;
  background-image: url(sec.jpg);
  background-size: contain;
}
.three{
  width: 350px;
  height: 400px;
  border-radius: 5px;
  border: 5px solid #ebd1d1;
  
  background-color: azure;
  background-image: url(third.jpg);
  background-size: contain;
}
.four{
  width: 350px;
  height: 400px;
  border-radius: 5px;
  border: 5px solid #ebd1d1;
  
  background-color: azure;
  background-image: url(fourt.jpg);
  background-size: contain;
  
}
p{
  background-color: beige;
 
}
p:hover{
  font-size: 40px;
  background-color: rgb(148, 214, 192);
  
}
.three:hover{
  width: 500px;
  height: 500px;
}
.four:hover{
  width: 500px;
  height: 500px;
}
.one:hover{
  width: 500px;
}
.two:hover{
  width: 500px;
}
.cafebild{
  display: flex;
  justify-content: center;
  
  margin-top: 30px;
  padding: 50px;
  margin-right: 50px;
}
.foter{
  background-color: cadetblue;
  display: flex;
  justify-content:space-around;
  width:100%;
  height: 50%;
  margin-top: 20px;
  padding: 20px;

  
}
a{
  
  color: aliceblue;
  transition: 1s ease-in-out;
  
}
a:hover{
  background-color: rgb(74, 244, 244);
  transform: rotateY(20deg);
 transform:rotate(-45deg)
 }
.contact{
  
  padding: 25px;
  
  display: inline-flex;
}



